/* Third Section */
#third-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0px;

    margin-bottom: 150px;
}


#third-section-right{
    width: 50%;
}

.text-large{
    width: 80%;

    font-size: 19px;
    font-weight: bold;
    
    color: #6d7b93;
    line-height: 1.6;
    margin-bottom: 40px;
    
}

.tip-card{
    width: 70%;

    border: 1px solid lightgray;
    border-radius: 10px;
    
    padding: 10px 25px;
    margin-top: 20px;

}

.tip-card p{
    display: none;
    padding-left: 50px;
    padding-right: 70px;

    padding-top: 20px;
    padding-bottom: 20px;

    line-height: 1.4;
    color: #6d7b93;
    font-weight: bold;
}

.show{
    display: block;
}

.tip-card-bar{

    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}




.tip-bar{
    border: 1px solid lightgray;
    border-radius: 10px;
    
    padding: 10px 25px;

    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}


.small-icon{
    font-size: 15px;
    padding: 5px;
}

.tip-title{
    font-size: 18px;
    font-weight: bold;  
    margin-left: 10px;
}

.tip-bar-open{
    border: 1px solid lightgray;
    border-radius: 10px;
    
    width: 80%;
   
    margin-top: 20px;
}

.tip-bar-open .tip-bar{
    width: 80%;
}

/* Effects */

.tip-card:hover{
    box-shadow: 10px 10px 10px lightgray;
}

.small-icon:hover{
    cursor: pointer
}


/*  Responsive */
@media (max-width:800px){
    #third-section-right{
        padding: 50px;
        width: 100%;

        padding-bottom:0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 500px){
    #third-section-right{
      padding: 5% 0 0 5%;  
    }

    .tip-card{
        width: 80%;
    }


}

