*{
    font-family: Arial;
    margin: 0px;
}




/* Third Section */
#third-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0px;

    margin-bottom: 150px;
}


#third-section-right{
    width: 50%;
}

.text-large{
    width: 80%;
    font-size: 20px;
    color: #6d7b93;
    line-height: 1.5;
    margin-bottom: 40px;
    
}


.tip-bar{
    border: 1px solid lightgray;
    border-radius: 10px;
    
    padding: 10px 25px;

    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.small-icon{
    font-size: 10px;
    padding: 5px;
}

.tip-title{
    font-size: 18px;
    font-weight: bold;  
    margin-left: 10px;
}

.tip-bar-open{
    border: 1px solid lightgray;
    border-radius: 10px;
    
    width: 80%;
   
    margin-top: 20px;
}

.tip-bar-open .tip-bar{
    width: 80%;
}

/* Fourth Section*/
#fourth-section{
    padding-left: 100px;
    display: flex;

    padding-bottom: 150px;
}

#fourt-section-left{
    width: 50%;
}

#emergency-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.emergency-card{
    width: 200px;
    height: 150px;

    border: 2px solid lightgray;
    border-radius: 10px;

    padding: 30px 30px;

    margin-right: 15px;
    margin-top: 15px;
    
}

.emergency-header{
    display: flex;
}

.title-and-number{
    margin-left: 15px;
}

.emergency-card i{
    font-size: 40px;
}

.emergency-title{
    font-size: 20px;
    font-weight: bold;
}

.emergency-number{
    font-size: 14px;
}

.emergency-card button{
    width: 100%;
    height: 50px;

    font-size: 18px;
    font-weight: bold;

    margin-top: 40px;

    color: #3454d2;
    background: #f0f4ff;

    border-radius: 5px;
    border: 0px;

}


/* Footer */
footer{
    padding: 50px 100px;
    background-color: #f0f4ff;

    padding-bottom: 10px;
}

#footer-top{
    display: flex;
    justify-content: space-between;
}

#footer-left{

    width: 170px;
}

#footer-left h2{
    color: #3454d2;
    font-size: 30px;
}

#footer-left p{
    line-height: 1.8;
    color: #6d7b93;
}

#footer-right{
    width: 50%;

    display: flex;
    justify-content: space-between;
}

#footer-right h2{
    color: #1f3e72;
}

#footer-right p{
    color: #1f3e72;
    margin-bottom: 30px;
}

#footer-bottom{
    display: flex;
    justify-content: space-between;

    color: #1f3e72;

    margin-top: 50px;
}

#footer-bottom-right span{
    margin-left: 30px;
}
