*{
    font-family: Arial;
    margin: 0px;
}


/* First Section*/
#first-section{
    border: 1px solid black;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: start;

    flex-wrap: wrap;

    padding-top: 5px;
}

#first-section-left{
    border: 1px solid black;
    width: 650px;
    height: 800px;

    box-sizing: border-box;
    padding: 50px 100px; 
}

#first-section-right{
    border: 1px solid black;
    width: 650px;
    height: 800px;  
}

#main-title{
    font-size: 60px;
    font-weight: bold;
    color: #1f3e72;

    margin-bottom: 0px;
    
}

.description{
    color: #6d7b93;
    font-size: 23px;
}

.icons-container{
    display: flex;
    margin-top: 50px;
}

.icon-and-text{
    margin-right: 20px;
    color: #234274;
}

i{
    border: 1px solid tranparent;
    border-radius: 5px;
    
    color: #3454d2;
    background: #f0f4ff;

    padding: 7px;
    margin-right: 10px;
}

.yellow-icon{
    

    color: #ffd012;
    background: #fff8de;
}

/* Front Form*/
#front-form{
    width: 900px;
    height: 150px;

    border: 1px solid black;
    border-radius: 10px;

    position: relative;
    top: 18px;
    left: 10px;

    z-index: 1;

    box-sizing: border-box;
    padding: 0 45px;

    display: flex;
    align-items: center;

    background: white;
}

.icon-text-value{
    font-size: 20px;
    margin-right: 40px;
    color: #234274;

}

.icon-text-value p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#front-form button{
    width: 150px;
    height: 55px;

    font-size: 20px;
    color: white;
    background: #3454d2;
    
    border-radius: 5px;
    border: 0px;
}

#brands-bar{
    width: 99%;
    border: 1px solid black;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    
    
    padding: 0 0px;
}

/* Second Section*/
#second-section{
    padding: 0px 100px;
}

.subtitle{
    color: #1f3e72;
    font-size: 40px;
    margin-top: 0px;
}

.text{
    width: 50%;
    font-size: 22px;
    color: #6d7b93;
}

#cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 60px;
    margin-bottom: 60px;
}

.card{
    width: 200px;
    height: 250px;

    border: 2px solid lightgray;
    border-radius: 10px;

    padding: 30px;
}

.card i{
   font-size: 30px; 
}

.card h3 {
    color: #1f3e72;
    font-size: 22px;
}

.card p{
    color: #6d7b93;
    font-size: 15px;
}

/* Third Section */
#third-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0px;

    margin-bottom: 150px;
}


#third-section-right{
    width: 50%;
}

.text-large{
    width: 80%;
    font-size: 20px;
    color: #6d7b93;
    line-height: 1.5;
    margin-bottom: 40px;
    
}


.tip-bar{
    border: 1px solid lightgray;
    border-radius: 10px;
    
    padding: 10px 25px;

    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.small-icon{
    font-size: 10px;
    padding: 5px;
}

.tip-title{
    font-size: 18px;
    font-weight: bold;  
    margin-left: 10px;
}

.tip-bar-open{
    border: 1px solid lightgray;
    border-radius: 10px;
    
    width: 80%;
   
    margin-top: 20px;
}

.tip-bar-open .tip-bar{
    width: 80%;
}

/* Fourth Section*/
#fourth-section{
    padding-left: 100px;
    display: flex;

    padding-bottom: 150px;
}

#fourt-section-left{
    width: 50%;
}

#emergency-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.emergency-card{
    width: 200px;
    height: 150px;

    border: 2px solid lightgray;
    border-radius: 10px;

    padding: 30px 30px;

    margin-right: 15px;
    margin-top: 15px;
    
}

.emergency-header{
    display: flex;
}

.title-and-number{
    margin-left: 15px;
}

.emergency-card i{
    font-size: 40px;
}

.emergency-title{
    font-size: 20px;
    font-weight: bold;
}

.emergency-number{
    font-size: 14px;
}

.emergency-card button{
    width: 100%;
    height: 50px;

    font-size: 18px;
    font-weight: bold;

    margin-top: 40px;

    color: #3454d2;
    background: #f0f4ff;

    border-radius: 5px;
    border: 0px;

}


/* Footer */
footer{
    padding: 50px 100px;
    background-color: #f0f4ff;

    padding-bottom: 10px;
}

#footer-top{
    display: flex;
    justify-content: space-between;
}

#footer-left{

    width: 170px;
}

#footer-left h2{
    color: #3454d2;
    font-size: 30px;
}

#footer-left p{
    line-height: 1.8;
    color: #6d7b93;
}

#footer-right{
    width: 50%;

    display: flex;
    justify-content: space-between;
}

#footer-right h2{
    color: #1f3e72;
}

#footer-right p{
    color: #1f3e72;
    margin-bottom: 30px;
}

#footer-bottom{
    display: flex;
    justify-content: space-between;

    color: #1f3e72;

    margin-top: 50px;
}

#footer-bottom-right span{
    margin-left: 30px;
}
